<div class="result">
  <h2>Your answer:  <%= @params[:answer] %> </h2>
  <p>  Time: <%= @result[:time] %> </p>
  <p>  Translation: <%= @result[:translation] %> </p>
  <p>  Score: <%= @result[:score] %> </p>
  <p>  Message: <%= @result[:message] %> </p>
  <p>  Round: <%= @round %> </p>
  <p>  Average score: <%= @average_score %> </p>
  <a href="/game" class="btn-play">Play again</a>
</div>






